<!DOCTYPE html>
<html lang="en"  ng-app="nTest">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">

    <title>Example of Angular Registration Form | JavaScript</title>
    <meta name="description" content="This registration form is developed on the basis of AngularJS. Features: an extensible timetable of working hours and tabs.">

    <!-- Bootstrap core CSS -->
    <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="vendors/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="vendors/bootstrap/css/theme.css" rel="stylesheet">

    <!-- Custom styles for the app -->
    <link href="css/ntest.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NNN</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Angular-Based Registration Form</h1>
        <p>The registration form below is developed on the basis of AngularJS. One of its feature is an extensible timetable of working hours.</p>
<!--        <p>The registration form below is your first step to start using NNN. Just fill it in and get all advantages of NNN for your good.</p> -->
        <p>Required fields are marked with the sign *.</p>
      </div>


<!-- === TEST APPLICATION === -->
<!-- App controller -->
      <div ng-controller="nTestController as ctrl">

<!-- Tabs selector -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Basics' ">Basics</a></li>
          <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Plans' ">Plans</a></li>
          <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Contacts' ">Contacts</a></li>
          <li role="presentation" class="font22"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='Billing' ">Billing</a></li>
          <li role="presentation" class="font22 save-profile-bkground"><a href="" data-toggle="tab" ng-click="ctrl.currentTab='SaveProfile'; ctrl.saveUserProfile( ctrl.savingResult )" class="save-profile-color">Save profile</a></li> 
          <li role="presentation" class="font22"><a href="">&nbsp;&nbsp;&nbsp;</a></li>
          <li role="presentation" class="font22"><a href="https://github.com/seabrus/angular-registration-form">Fork me on Github</a></li>
        </ul>

<!-- Registration FORM -->
        <form class="form-horizontal" name="regForm" ng-submit="ctrl.currentTab='SaveProfile'; ctrl.saveUserProfile( ctrl.savingResult )">
         <div ng-switch="ctrl.currentTab">


<!-- TAB: Basic information -->
          <div class="registration" ng-switch-when="Basics">

            <div class="page-header">
              <h2>Basic information</h2> <a name="required-fields"></a>
            </div>

            <label for="restName"><i>*</i> Name of your company:</label>
              <input type="text" id="restName" name="restName" required="" ng-model="ctrl.regData.restaurantName"> ​
            <label for="motto"><i>*</i> Motto or slogan:</label>
              <input type="text" id="motto" name="motto" required="" ng-model="ctrl.regData.motto">​
            <label for="address"><i>*</i> Company address:</label>
              <input type="text" id="address" name="address" required="" ng-model="ctrl.regData.address">​
            <label for="wifiName"><i>*</i> WiFi name (ID):</label>
              <input type="text" id="wifiName" name="wifiName" required="" ng-model="ctrl.regData.wifiName">​
            <label for="wifi-password">WiFi password:</label>
              <input type="text" id="wifi-password" ng-model="ctrl.regData.wifiPassword">​
            <label for="foundedAt">Founded at:</label>
              <input type="number" id="foundedAt" placeholder="1961" ng-model="ctrl.regData.foundedAt">​

         <!-- Opening hours -->
            <label class="pointer" ng-class="ctrl.getHoursClass()" ng-click="ctrl.showHours=!ctrl.showHours">Working hours:</label>
            <div opening-hours-directive=""></div> 

         <!-- Alerts -->
            <div class="blank">&nbsp;</div>
            <div class="alert alert-warning" role="alert" ng-show="regForm.$dirty && regForm.$invalid">
                <strong class="font22">&#10004;</strong> Please fill in the mandatory field(s) <a href="#required-fields">above</a>: 
                <span ng-show="regForm.restName.$invalid"><br>&mdash; Name of the company</span>
                <span ng-show="regForm.motto.$invalid"><br>&mdash; Motto or slogan </span>
                <span ng-show="regForm.address.$invalid"><br>&mdash; Company address</span>
                <span ng-show="regForm.wifiName.$invalid"><br>&mdash; WiFi name (ID)</span>
            </div>

          </div>   <!-- <div class="registration"> -->


<!-- TAB: NNN subscribtion plans -->
        <div ng-switch-when="Plans">

          <div class="page-header">
            <h2>NNN subscribtion plans</h2>
          </div>

          <div class="row">
            <div class="col-sm-4" ng-repeat="plan in ctrl.subscriptionPlans">
              <div class="panel" ng-class="plan.style">
                <div class="panel-heading">
                  <h3 class="panel-title font18">
                    <label><input type="radio" name="plan" ng-model="ctrl.regData.subscriptionPlan" ng-value="plan.name">
                    <span ng-bind="plan.name"></span></label>
                  </h3>
                </div>
                <div class="panel-body" ng-bind="plan.description"></div>
              </div>
            </div>
          </div>

        </div>   <!--   <div ng-switch-when="Plans">   -->


<!-- TAB: Business contact(s) -->
          <div class="registration" ng-switch-when="Contacts">

            <div class="page-header">
              <h2>Business contact(s)</h2>
            </div>

            <label for="ownerName">Owner name:</label>
              <input type="text" id="ownerName" name="ownerName" ng-model="ctrl.regData.ownerName"> ​
            <label for="regRecord">Official Business register record:</label>
              <input type="text" id="regRecord" name="regRecord" ng-model="ctrl.regData.regRecord">​
            <label>Contact manager:</label>
            <div class="contact-manager">
               <!-- <label for="nAccount">NNN account:</label> -->
                <input type="text" placeholder="NNN account" id="nAccount" name="nAccount" ng-model="ctrl.regData.contactManager.nAccount">​
              <!-- <label for="fullName">Full name:</label> -->
                <input type="text" placeholder="Full name: First name, last name" id="fullName" name="fullName" ng-model="ctrl.regData.contactManager.fullName">​
              <!-- <label for="email">Email:</label> -->
                <input type="text" placeholder="Email: name@company.com" id="email" name="email" ng-model="ctrl.regData.contactManager.email">​
            </div>

          </div>   <!-- <div class="registration"> -->


 <!-- TAB: Billing address (used in invoices) -->
          <div class="registration"  ng-switch-when="Billing">

            <div class="page-header">
              <h2>Billing address <span class="font22">(for invoices)</span></h2>
            </div>

            <label for="billingName">Full name:</label>
              <input type="text" id="billingName" name="billingName" ng-model="ctrl.regData.billingName"> ​
            <label for="street1">Street 1:</label>
              <input type="text" id="street1" name="street1" ng-model="ctrl.regData.street1">​
            <label for="street2">Street 2:</label>
              <input type="text" id="street2" name="street2" ng-model="ctrl.regData.street2">​
            <label for="city">City:</label>
              <input type="text" id="city" name="city" ng-model="ctrl.regData.city">​
            <label for="postCode">Post code:</label>
              <input type="text" id="postCode" name="postCode" ng-model="ctrl.regData.postCode">​
            <label for="country">Country:</label>
              <input type="text" id="country" name="country" ng-model="ctrl.regData.country">​
            <label for="paymentMethod">Payment method:</label>
              <select ng-model="ctrl.regData.paymentMethod" ng-options="method for method in ctrl.paymentMethods"></select>
          </div>   <!-- <div class="registration"> -->


<!-- TAB : Save profile -->
        <div ng-switch-when="SaveProfile">
            <div class="blank">&nbsp;</div>
            <div class="alert alert-warning" role="alert" ng-show="ctrl.savingResult[0]==='error' ">
                <strong class="font22">&#10004; Warning:</strong> &nbsp;Error occurred when saving the profile. Try again a bit later
            </div>
            <div class="alert alert-success" role="alert" ng-show="ctrl.savingResult[0]==='success' ">
                <strong class="font22">&#10004; Success:</strong> &nbsp;Your profile was saved successfully
            </div>
        </div>   <!--   <div ng-switch-when="SaveProfile">   -->


         </div> <!-- ng-switch -->

<!-- Submit button -->
          <div class="save-button">
            <input type="submit" class="btn btn-success btn-lg" value="Save" ng-disabled="regForm.$invalid">
            <!-- <button type="button" class="btn btn-lg btn-success" ng-disabled="regForm.$invalid">Save</button> -->
          </div>

        </form>
      </div>

<!-- === end of the application === -->


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="vendors/jquery/jquery.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="vendors/bootstrap/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="vendors/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <!-- 
    ================================================== -->
    <script src="vendors/angular/angular1-3-12.min.js"></script>
    <script src="js/ntest.js"></script>
  </body>
</html>

